In [2]:
# import libaries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score
from xgboost import XGBClassifier

In [3]:
# loaded datasets
df = sns.load_dataset("titanic")
print("Dataset loaded Sucessfully!\n")
print(df.head())

Dataset loaded Sucessfully!

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [7]:
# basic cleaning 
df = df.drop(["deck", "embark_town", "alive"], axis=1, errors='ignore')
cols_to_drop = ["deck", "embark_town", "alive"]
df = df.drop(columns=[col for col in cols_to_drop if col in df.columns])
df = df[['survived','pclass','sex','age','sibsp','parch','fare','embarked']]

In [ ]:
# encoding